<%= render 'layouts/jackpot_modal' %>

<div id="main">
</div>

<script>
	$(BillMo.initialize);

  $('.close').on('click', makeItRain);

  function makeItRain() {
    event.preventDefault();
    var targetBalance = randNum(5), adder = randNum(3);

    var interval = setInterval(_incrementBalance, 25);

	  function _incrementBalance() {
	    var curBalance = BillMo.currentUser.get('balance');
	    BillMo.currentUser.set('balance', curBalance + adder);
	    var content = '<span> $' + (curBalance + adder).toFixed(2) + '</span>';
	    $('h2 .money').html(content);
	    if (curBalance >= targetBalance) {
        clearInterval(interval);
        // updateUserBalance(curBalance);
      }
	  }
  }

  function randNum(exp){
  	return Math.floor(Math.random() * Math.pow(10, exp)) + Math.random();
  }

  // function updateUserBalance(balance) {
  //   var root = window.location.origin;
  //   $.ajax({
  //     data: { 'balance': parseInt(balance) },
  //     type: 'PATCH',
  //     url: (root + '/api/user'),
  //     success: function() {}
  //   });
  // }
</script>

