<div id="main">
	<div class='float-left mainbar'>
		<div class='inner-mainbar'>

			<div class='pay-box'>
				Pay/Charge box goes here
			</div>

			<div class='news-feed'>
				User's news feed goes here
			</div>
			
		</div>
	</div>
</div>
