<div>
	<% if logged_in? %>
		<%= link_to 'Back to BillMo', users_url %>
	<% else %>
		<button id='signup' class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#signup-modal">Sign Up</button>
		<button id='login' class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#login-modal">Log In</button>
	<% end %>
</div>

<br><br><br>
<div id='split-calc'></div>

<script>
	var view = new BillMo.Views.SplitCalc();
	$('#split-calc').html(view.render().$el);
</script>

<%= render partial: 'sessions/newModal' %>
<%= render partial: 'users/newModal' %>
