<div id='calc-holder'>
	<div class='person first-person'>
		<input class='name' value='justin'>

		<ul class='amounts clearfix'>
			<li>
				<input class='bill' value='<%= amts[0] %> for dog food'>
				<button class='del-bill'>remove bill</button>
			</li>
		</ul>

		<button class='add-bill'>Add a Bill</button>
		<div class='subtotal'>Total: $<%= amts[0] %></div>
	</div>

	<div class='person last-person'>
		<input class='name' value='sam'>

		<ul class='amounts clearfix'>
			<li>
				<input class='bill' value='<%= amts[1] %> for dog food'>
				<button class='del-bill'>remove bill</button>
			</li>
		</ul>

		<button class='add-bill'>Add a Bill</button>
		<div class='subtotal'>Total: $<%= amts[1] %></div>
	</div>

</div><br><br>

<div id='controls'>
	<button class='add-person'>Add a Person</button>
	<button class='del-person'>Delete a Person</button>

	<div><br>
		<button id='calc-all'>Who owes who?</button>
	</div>

	<div id='results-holder'>
	</div>

</div>