<!-- new person create new div of class person -->
<!-- new bill creates li of class ... -->

<div id='calc-holder'>

	<div class='person'>
		<input name='person' val='person'>

		<input name='amount' val='20 for dog food'>

		<button>Add a bill...</button>
	</div>

</div>