<div class='person'>
	<input class='name' value='<%= name %>'>

	<ul class='amounts clearfix'>
		<li>
			<input class='bill' value='<%= amt %> for dog food'>
			<span class="glyphicon glyphicon-remove-circle del-bill" 
		      aria-hidden="true">
		</li>
	</ul>

	<button class='add-bill'>Add a Bill</button>

	<div class='subtotal'>Total: $<%= amt %></div>
</div>