<div class='person'>
	<input class='name' value='<%= name %>'>

	<ul class='amounts clearfix'>
		<li>
			<input class='bill' value='<%= amt %> for dog food'>
			<button class='del-bill'>remove bill</button>
		</li>
	</ul>

	<button class='add-bill'>Add a Bill</button>

	<div class='subtotal'>Total: $<%= amt %></div>
</div>