<br><br>
<div class='split-results hidden'>
	<% var count = 0; %>

	<% _(results).each(function(result) { %>
		<li id="result-<%= count %>" class='hidden'>
			<%= result %>
		</li>
		<% count++ %>
	<% }); %>

</div>