<% comments.each( function(comment) { %>
	<div>
		<%= comment.escape('content') %>
		<button class='delete-comment'data-id="<%=comment.id%>">
			<!-- <span class='caret'></span> -->
			Delete
			<!-- <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> -->
		</button>
	</div>
<% }); %>

