<% comments.each( function(comment) { %>
	<div>
		<%= comment.escape('content') %>
		<span class="glyphicon glyphicon-remove-circle delete-comment" 
					data-id="<%= comment.id %>"
		      aria-hidden="true">
		</span>
	</div>
<% }); %>

