<h2>Find some Friends</h2>

<table>
  <thead>
    <tr> <th>Username</th> </tr>
  </thead>

	<script>
		var view = new BillMo.Views.Friendship();
		BillMo.users.fetch({
			success: function() {
				$('.friendship-toggle').html(view.render().$el);
			}
		});
	</script>

  <tbody class='friendship-toggle'>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
