<button id='pay'>Pay</button>
<button id='charge'>Charge</button>

<form>

	<label><br>Amount
		<input type='text' name='amount' value='10'>
	</label>

	<!-- ids and classes must go at the front -->
	<label>To:
		<input id='trans-to' name='query' value='bustin'>
	</label>

<!-- 	<input type='range' value='5000'
	min='0' max='10000' step='100'> -->

	<label>For
	<textarea rows='3' cols='50' name='note'>ice cream</textarea>
	</label>

	<input type='hidden' name='payer' value='justin'>

	<input type='submit' value='Pay'>

</form>