<% var submitVal = (transState ? 'Pay' : 'Charge') %>

<div class='inner-pay-box'>
	<form>

		<div class='pay-charge-to'>
			<div class='float-left pay-charge'>
				<button id='pay' class='pushed-button'>Pay</button>
				<button id='charge'>Charge</button>
			</div>

			<div class='float-right'> 
				<label for="to">To:</label> 
				<div id="to-wrapper" style="display: inline-block;">
					<input id='to'
								 class='text-input'
								 name='receiver'
								 autocomplete='on'>
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					<div id="ac-container"></div>
				</div>
			</div>
		</div> <br>

		<table width='100%'><tbody>
			<tr>
				<td width='18%' class='box-labels'>Amount</td>
				<td width='60%'>
					<input class='text-input' name='amount' value='10'>
				</td>
			</tr>
			<tr>
				<td width='18%' class='box-labels'>For</td>
				<td width='60%'>
					<input class='text-input' name='note' value='ice cream'>
				</td>
				<td><span id='submit-trans'></span></td>
			</tr>
		</tbody></table>

		<input type='hidden' name='device'    value='web'>
		<input type='hidden' name='post_date' value='just now'>

	</form>
</div>
