<div class='inner-pay-box'>
	<form>
		<!-- ids and classes must go at the front -->

		<div class='pay-charge-to'>

			<div class='float-left pay-charge'>
				<button id='pay'>Pay</button>
				<button id='charge'>Charge</button>
			</div>

			<div class='float-right'> 
				<label>To:
					<input id='to' class='text-input' name='receiver' 
					 autocomplete='on'>
				</label> 

				<ul id='searchResults'>
					<% friends.each(function(friend) { %>
						<li><%= friend.escape('username') %></li>
					<% }); %>
				</ul>
			</div>

		</div> 

		<!-- <div class='amount-for'> -->
			<label><br>Amount
				<input name='amount' value='10'>
			</label><br>

			<!-- 	<input type='range' value='5000'min='0' max='10000' step='100'> -->
			<label>For
				<input class='text-input' name='note' value='ice cream'>
			</label>
		<!-- </div> -->

		<input type='submit' value='Pay'>

	</form>

</div> 