<button>Pay</button>
<button>Charge</button>

<form>
	<label>To:
		<input type='text' name='trans[receiver]' value=''>
	</label>

	<input type='range' name='trans[amount]' value='100'>

	<label>For
	<textarea row='20' col='40'>ice cream</textarea>
	</label>
</form>