<% var submitVal = (transState ? 'Pay' : 'Charge') %>

<div class='inner-pay-box'>
	<form>
		<!-- ids and classes must go at the front -->
		<div class='pay-charge-to'>
			<div class='float-left pay-charge'>
				<button id='pay' class='pushed-button'>Pay</button>
				<button id='charge'>Charge</button>
			</div>

			<div class='float-right'> 
				<label>To:
					<input id='to' class='text-input' name='receiver' 
					 autocomplete='on'>
				</label> 
			</div>
		</div> 

		<!-- <div class='amount-for'> -->
			<label><br>Amount
				<input class='text-input' name='amount' value='10'>
			</label><br>

			<label>For
				<input class='text-input' name='note' value='ice cream'>
			</label>

			<input type='hidden' name='device'    value='web'>
			<input type='hidden' name='post_date' value='just now'>

		<span id='submit'></span>

	</form>

</div> 