<h2>Your Balance: 
	<span class='money'></span>
</h2>

<div class='float-left mainbar'>
	<div class='inner-mainbar'>
		
		<div class='outer-pay-box'>
		</div>

		<div class='news-feed'>
		</div>		

	</div>

	<script rel='../../goog_analytics.js'></script>
</div>