<h2>Your Bankroll: 
	<span class='money'><%= user.getBalance() %>
</h2>

<div class='float-left mainbar'>
	<div class='inner-mainbar'>
		
		<div class='outer-pay-box'>
		</div>

		<div class='news-feed'>
		</div>		

	</div>
</div>