.app-title {
	font-family: impact;
	font-size: 40px;
	color: white;
}

.circle {
	background: blue;
	border-radius: 20px;
}

.container {
	background-color: #3c95d2;
	height: 50px;
	width: 100%;
	position: absolute;
	color: white;
	a {
		color: white;
	}
}

.float-left {
	float:left;
	padding: 1%;
}

.float-right {
	float:right;
	padding: 1%;
}

.button {
	color: black;
}

.light-gray {
	color: #999;
}