$borderGray: #bbb;

/*main */
#main {
	width: 950px;
	margin: 0 auto;
	min-height: 500px;
}

.inner-mainbar {
	width: 635px;
}

/* paybox */
.outer-pay-box {
	border: 1px solid lightBlue;
	border-radius: 4px;
	width: 625px;
	height: 150px;
	margin-bottom: 20px;
	padding: 5px;
	background-color: white;
}

/*.inner-pay-box {
	width: 600px;
	height: 140px;
	padding: 2px;
	/*margin: 5px;
}*/

.pay-charge-to {
	display: block;
	width: 613px;
	height: 40px;
	line-height: 34px;
	font-size: 13px;
}

.pay-charge {
	width: 150px;
}

.text-input {
	width: 400px;
}

#to {
}

.ui-menu-item {
	/*position: fixed;*/
	color: #0859B9;
	background: #139BD8;
	font-weight: bold;
	padding: 5px;
	z-index: 999;
}

/*form and buttons */
input[type=submit], .pushed-button, .add-friend, .remove-friend 
{
	cursor: pointer;
	background: #139BD8;
	color: white;
	border: 1px solid #0859B9;
	font-family: helvetica;
	font-size: 14px;
	border-radius: 5px;
}

button {
	background-color: eef0f4;
	font-family: arial;
	font-size: 13px;
	border-radius: 4px;
}