$myBlue: #057FC6;

.blue-text {
	color: #057FC6;
}

.bold {
	font-weight: bold
}

.money {
	color: green;
	font-weight: bold;
	/*text-align: center;*/
}

.inner-sidebar {
	width: 275px;
	height: 400px;
}

.profile {
	border: 1px solid lightBlue;
	border-radius: 4px;
	width: 265px;
	min-height: 140px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.friends {
	border: 1px solid lightBlue;
	border-radius: 4px;
	width: 265px;
	height: 200px;
	margin-left: 10px;
}