#calc-holder{
	padding: 3%;
}

#controls {
	text-align: center;
}

.person {
	vertical-align: text-top;
	border-right: dashed 1px #71b0c2;
	display: inline-block;
	padding: 2%;
}

.hoverable {
	&:hover {
  	background-color: lightSalmon;
  }
}

.name {
	font-weight: bold;
	color: #0859B9;
}

#calc-holder {
	button {
		background-color: lightBlue;
		border: 1px solid lightSkyBlue;
		border-radius: 4px;
		font-size: 11px;
	}
}

#controls {
	.add-person, .del-person {
		background-color: lightBlue;
		border: 2px solid lightSkyBlue;
		border-radius: 4px;
		font-size: 13px;
	}
}

#calc-all {
	background: #0859B9;
	border: 2px solid #0859B9;
	border-radius: 5px;
	color: white;
	font-family: helvetica;
	font-size: 18px;
	height: 36px;
}

.split-results {
	background: springGreen;
	color: firebrick;
	display: inline-block;
	font: 24px Verdana;
	padding: 14px 35px;
	text-shadow: #4c7186 2px 2px 2px;
}


