.person, .first-person, .last-person {
	border-right: dashed 1px #71b0c2;
	display: inline-block;
	padding: 2%;
	text-align: left;
	vertical-align: text-top;
}

.last-person {
	border: none;
}

.del-bill {
	font-size: 18px;
}

.hoverable, .del-bill {
	&:hover {
  	background-color: lightSalmon;
  }
}

.header {
	color: #0859B9;
	display: inline-block;
	font-size: 30px;
	text-align: center;
	width: 100%;
	.app-title2{
		font-family: impact;
		font-size: 36px;
		color: #0859B9;
	}
}

.name {
	font-weight: bold;
	color: #0859B9;
}

#calc-holder {
	background-color: lightSkyBlue;
	font-size: 16px;
	padding: 3%;
	text-align: center;
	button {
		background-color: lightBlue;
		border: 1px solid lightSkyBlue;
		border-radius: 4px;
		font-size: 11px;
	}
}

#controls {
	text-align: center;
	.add-person, .del-person, .fixed-amounts {
		background-color: lightBlue;
		border: 2px solid lightSkyBlue;
		border-radius: 4px;
		font-size: 13px;
	}
}

#calc-all {
	background: #0859B9;
	border: 2px solid #0859B9;
	border-radius: 5px;
	color: white;
	font-family: helvetica;
	font-size: 18px;
	height: 36px;
}

.hidden {
	display: none;
}

/*.shown {
	display: inline-block;
}*/

.split-results {
	background: lightGreen;
	color: brown;
	display: inline-block;
	font: 24px Verdana;
	padding: 14px 35px;
	text-shadow: #4c7186 2px 2px 2px;
}

#login, #signup {
	font-family: verdana;
	font-size: 16px;
	margin: 10px;
	padding: 10px 20px;
	position: relative;
}

#typing {
	font-size: 24px;
	margin: auto;
	opacity: 0.8;
	overflow: hidden;
	white-space: nowrap;
	-webkit-animation: typing 2s steps(25, end);
}

@-webkit-keyframes typing {
    from { width: 0; }
    to { width:500px; }
}