.person, .first-person, .last-person {
	border-right: dashed 1px #71b0c2;
	display: inline-block;
	padding: 2%;
	text-align: left;
	vertical-align: text-top;
}

.last-person {
	border: none;
}

.hoverable {
	&:hover {
  	background-color: lightSalmon;
  }
}

.name {
	font-weight: bold;
	color: #0859B9;
}

#calc-holder {
	font-size: 16px;
	padding: 3%;
	text-align: center;
	button {
		background-color: lightBlue;
		border: 1px solid lightSkyBlue;
		border-radius: 4px;
		font-size: 11px;
	}
}

#controls {
	text-align: center;
	.add-person, .del-person {
		background-color: lightBlue;
		border: 2px solid lightSkyBlue;
		border-radius: 4px;
		font-size: 13px;
	}
}

#calc-all {
	background: #0859B9;
	border: 2px solid #0859B9;
	border-radius: 5px;
	color: white;
	font-family: helvetica;
	font-size: 18px;
	height: 36px;
}

.split-results {
	background: lightGreen;
	color: brown;
	display: inline-block;
	font: 24px Verdana;
	padding: 14px 35px;
	text-shadow: #4c7186 2px 2px 2px;
}

#login, #signup {
	/*font-family: verdana;*/
	font-size: 20px;
	margin: 8px;
	padding: 10px 25px;
}