<div class="modal fade" id="slot-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="myModalLabel">Bank error in your favor</h2>
      </div>
      <div class="modal-body">
        <span class='modal-money'>
          You just won a ton of money!<br><br>
        </span>
        <span class='sub-modal'>
          I don't even know how much!
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

