<% friends = current_user.friends %>

<div class='float-right sidebar'>
	<div class='inner-sidebar'>

		<div class='profile'>
			 <img src="<%= current_user.image_url %>">
		</div>

		<div class='friends'>
			<span class='blue-text'>Friends</span> (<%= friends.size %>)
			<span class="blue-text">
				<%= link_to 'Find Friends', users_url %>
			</span>

			<% friends.each do |friend| %>
				<li class='blue-text'><%= friend.username %></li>
			<% end %>
		</div>
	</div>
</div>

